In [263]:
import pandas as pd
import numpy as np

In [264]:
csv_file_one = "FAZA1_SIMULACIJA_BACKUP.csv"
csv_file_two = "FAZA2_SIMULACIJA_BACKUP.csv"
# df = pd.read_csv(csv_file, sep=',', encoding='utf8')

In [265]:
df_one = pd.read_csv(csv_file_one, sep=',', encoding='utf8', index_col='_id')
df_two = pd.read_csv(csv_file_two, sep=',', encoding='utf8', index_col='_id')

In [266]:
df_one.tail()

,age,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman,education,gender
_id,,,,,,,,,,
622e33d1548cf83268de479a,21,"[2,15.45180892944336]","[1,55.586448669433594]","[2,32.35079574584961]","[1,16.266294479370117]","[1,26.533924102783203]","[2,24.33388328552246]","[1,20.800439834594727]",Student/kinja,Ženski
622e5ee0548cf81b84b18ebb,20,"[2,11.55092716217041]","[2,16.30087661743164]","[2,15.233153343200684]","[1,16.567153930664062]","[1,9.366719245910645]","[2,5.315981864929199]","[1,17.000438690185547]",Student/kinja,Ženski
622e639bd2e53f07049fd2b6,22,"[1,30.58879280090332]","[1,21.797136306762695]","[1,36.41694641113281]","[1,25.91006851196289]","[2,24.145444869995117]","[2,19.948030471801758]","[2,16.83482551574707]",Student/kinja,Muški
622e75550ebcbf33dc20af6f,19,"[2,40.972476959228516]","[2,18.263925552368164]","[2,2.508765935897827]","[1,17.015825271606445]","[1,33.26237487792969]","[1,14.995850563049316]","[2,21.11560821533203]",Student/kinja,Ženski
622e799ba596ab32e0a48334,19,"[1,26.86882972717285]","[2,22.397262573242188]","[1,38.746803283691406]","[1,28.739408493041992]","[1,36.380714416503906]","[2,41.33146286010742]","[2,40.927520751953125]",Završena srednja škola ili gimnazija,Ženski

In [267]:
df_two.tail()

,age,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman,education,gender
_id,,,,,,,,,,
62379f74c6c9653e6c9a2a94,19,"[2,14.413254737854004]","[1,9.51274585723877]","[2,11.898252487182617]","[1,13.295769691467285]","[1,15.112628936767578]","[2,14.431286811828613]","[2,10.718328475952148]",Student/kinja,Ženski
62379ff3768a4500e8b9f8c1,20,"[2,25.797773361206055]","[1,18.297727584838867]","[1,29.998682022094727]","[2,23.20950698852539]","[1,47.45643615722656]","[2,29.229185104370117]","[2,27.697288513183594]",Student/kinja,Ženski
6237a052456b6c23ac7a14b5,19,"[1,7.532841205596924]","[2,16.732404708862305]","[1,10.330426216125488]","[2,18.398197174072266]","[1,18.264862060546875]","[1,17.714975357055664]","[1,14.033276557922363]",Student/kinja,Ženski
6237a059898635261cf94208,19,"[2,43.46845245361328]","[2,11.650673866271973]","[2,16.5837459564209]","[1,16.500343322753906]","[1,11.51737117767334]","[1,4.899977684020996]","[1,12.450563430786133]",Student/kinja,Ženski
6237a108949b6f1d44f0c093,24,"[1,13.33966064453125]","[2,34.0185432434082]","[1,15.919883728027344]","[1,30.88307762145996]","[2,14.298136711120605]","[2,11.948404312133789]","[1,21.295761108398438]",Završen fakultet ili viša škola,Ženski

In [268]:
phase_one_indexes = list(df_one.index)
phase_one_indexes

['62290c01bad7ec40d0c4dfb7',
 '622918843f63776150a5a5d4',
 '62291b680487460c605ccd8d',
 '62292051a9c3b92830825b80',
 '622921dbcdf9091b8431ac25',
 '622924d7c735bd36600c88ed',
 '6229267c1ba05d2324c749b1',
 '6229292bb90c5a31c03cc4ee',
 '62292ab28f79d4310cf6c5a6',
 '62292bddb90c5a29d89910e9',
 '6229b9185683441f709724a2',
 '6229c9e96aad443c1cf57203',
 '6229d1c74843595714a035e5',
 '6229d34bec3fc63ea421d08e',
 '6229e13384b24029f0c2be9b',
 '6229efdac8d2ac3f1cf183fa',
 '622a08e7f8be540ddc234114',
 '622a0c46cc68e22d48886502',
 '622a1bfe83490435f84939ae',
 '622a1ca2f8d75037a8bcd874',
 '622a2faa60ac1d89d4b6bc43',
 '622a58f36f44060368d5ab68',
 '622a9e0e1cd1b91ab03cf757',
 '622b2ee4aaf6ff08b08dbbdc',
 '622b3133234e17229c743522',
 '622b3418cd78653170d56617',
 '622b3f5bbd71db29949ba3f6',
 '622b8e527d1c920b2cf1789d',
 '622b9c9f7b0c312c34ca4825',
 '622ba1dcb90ce240d87bfe96',
 '622bac0db08b4721b89ec357',
 '622c4603bc9cdd1518740cc6',
 '622c8e47a472f31e384e463a',
 '622c96b7448cc611a875f612',
 '622ca2bd31d3391f302c077a',
 '622caf91b5c8cc2180d736b2',
 '622cbdb84d472046302217c7',
 '622cbf6864180e2d386e8b3f',
 '622d3efc6f6102669c31820e',
 '622d40936f610206d4607c11',
 '622cc969e2630122fc20e170',
 '622d039f4d52f729d48102c3',
 '622e2213862231164ce2acbe',
 '622e33d1548cf83268de479a',
 '622e5ee0548cf81b84b18ebb',
 '622e639bd2e53f07049fd2b6',
 '622e75550ebcbf33dc20af6f',
 '622e799ba596ab32e0a48334']

In [269]:
df_two = df_two.drop(phase_one_indexes)
df_two.tail()

,age,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman,education,gender
_id,,,,,,,,,,
62379f74c6c9653e6c9a2a94,19,"[2,14.413254737854004]","[1,9.51274585723877]","[2,11.898252487182617]","[1,13.295769691467285]","[1,15.112628936767578]","[2,14.431286811828613]","[2,10.718328475952148]",Student/kinja,Ženski
62379ff3768a4500e8b9f8c1,20,"[2,25.797773361206055]","[1,18.297727584838867]","[1,29.998682022094727]","[2,23.20950698852539]","[1,47.45643615722656]","[2,29.229185104370117]","[2,27.697288513183594]",Student/kinja,Ženski
6237a052456b6c23ac7a14b5,19,"[1,7.532841205596924]","[2,16.732404708862305]","[1,10.330426216125488]","[2,18.398197174072266]","[1,18.264862060546875]","[1,17.714975357055664]","[1,14.033276557922363]",Student/kinja,Ženski
6237a059898635261cf94208,19,"[2,43.46845245361328]","[2,11.650673866271973]","[2,16.5837459564209]","[1,16.500343322753906]","[1,11.51737117767334]","[1,4.899977684020996]","[1,12.450563430786133]",Student/kinja,Ženski
6237a108949b6f1d44f0c093,24,"[1,13.33966064453125]","[2,34.0185432434082]","[1,15.919883728027344]","[1,30.88307762145996]","[2,14.298136711120605]","[2,11.948404312133789]","[1,21.295761108398438]",Završen fakultet ili viša škola,Ženski

In [270]:
df = df_one

In [271]:
df_answers = df.filter(regex='answers')

In [272]:
df.drop(list(df.filter(regex = 'answers')), axis = 1, inplace = True)
df.head()

                          age      education  gender
_id
62290c01bad7ec40d0c4dfb7   19  Student/kinja  Ženski
622918843f63776150a5a5d4   19  Student/kinja  Ženski
62291b680487460c605ccd8d   19  Student/kinja  Ženski
62292051a9c3b92830825b80   19  Student/kinja  Ženski
622921dbcdf9091b8431ac25   19  Student/kinja   Muški

In [273]:
df_answers.head()

,answers.Auction,answers.Bandits,answers.Butcher,answers.Doctor,answers.Guard,answers.Mayor,answers.Salesman
_id,,,,,,,
62290c01bad7ec40d0c4dfb7,"[2,18.846603393554688]","[2,19.835296630859375]","[1,28.478700637817383]","[1,17.69670295715332]","[1,51.49343490600586]","[1,23.647201538085938]","[1,21.094768524169922]"
622918843f63776150a5a5d4,"[1,20.311738967895508]","[1,20.468542098999023]","[2,18.473102569580078]","[1,18.279342651367188]","[1,18.827978134155273]","[1,19.704904556274414]","[1,14.310334205627441]"
62291b680487460c605ccd8d,"[1,69.9562759399414]","[1,19.53192138671875]","[1,41.66177749633789]","[2,26.227712631225586]","[1,45.72407150268555]","[2,32.88444137573242]","[1,19.876001358032227]"
62292051a9c3b92830825b80,"[2,26.413131713867188]","[1,39.146568298339844]","[1,35.24727249145508]","[1,44.79557418823242]","[1,21.198808670043945]","[2,73.21129608154297]","[1,33.379905700683594]"
622921dbcdf9091b8431ac25,"[2,2.1177005767822266]","[2,40.8103141784668]","[1,4.588719844818115]","[1,2.1777656078338623]","[2,2.5335171222686768]","[2,18.771259307861328]","[1,4.740966320037842]"

In [274]:
df_answers_new = df_answers

In [275]:
for col in df_answers.columns:
    taskName = col.split('.')[1]
    
    answer = df_answers[col]
    
    df_answers_new[col] = answer.str.replace("\[|\]|\'", "", regex=True).str.split(",")
    
    split_df = pd.DataFrame(df_answers_new[col].values.tolist(), columns = ['answer.{}'.format(taskName), 'time.{}'.format(taskName)])
    
    df = df.concat(split_df)

C:\Users\saras\AppData\Local\Temp\ipykernel_10476\3731990760.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_answers_new[col] = answer.str.replace("\[|\]|\'", "", regex=True).str.split(",")

AttributeError: 'DataFrame' object has no attribute 'concat'

   answer.Salesman       time.Salesman
0                1  21.094768524169922
1                1  14.310334205627441
2                1  19.876001358032227
3                1  33.379905700683594
4                1   4.740966320037842
5                1  151.65072631835938
6                1   4.893477439880371
7                2        30.103515625
8                2       128.208984375
9                2   7.846445560455322
10               1  26.995641708374023
11               2   96.93962860107422
12               1  51.564048767089844
13               1   17.97808837890625
14               1  54.925315856933594
15               1  22.587709426879883
16               1  18.581798553466797
17               1  17.946821212768555
18               2  17.315887451171875
19               1  24.913803100585938
20               1   28.52300262451172
21               2  43.595272064208984
22               2   4.130970478057861
23               2  11.115456581115723
24               1  39.647972106933594
25               1  1.4312773942947388
26               2   36.00483703613281
27               2   56.12482833862305
28               1   7.356352806091309
29               1   7.164838790893555
30               2  2.9725658893585205
31               1   30.36692237854004
32               2   23.17034912109375
33               1   17.33238410949707
34               2   29.78607940673828
35               2    40.8406867980957
36               1   53.03932189941406
37               2  15.808934211730957
38               1    32.7087516784668
39               2   6.239383220672607
40               1  3.4652578830718994
41               1   38.49980545043945
42               1  15.234681129455566
43               1  20.800439834594727
44               1  17.000438690185547
45               2   16.83482551574707
46               2   21.11560821533203
47               2  40.927520751953125

In [50]:
# df = df.drop(columns=['_id'])
# df.head()

In [51]:
df.to_excel('faza1_simulacija_odgovori_clean.xlsx', index=False, encoding='utf16')